streamlit==1.35.0
firebase-admin==6.0.0
sentence-transformers==2.2.2
transformers==4.28.1
torch==2.3.0 --extra-index-url=https://download.pytorch.org/whl/cpu
torchvision==0.18.0
torchaudio==2.3.0
numpy==1.21.6
sentencepiece==0.1.99
